<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Syncano.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>syncano-ios.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>syncano-iosTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1199915F1AC446E4007B994C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1199916A1AC446E4007B994C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11CE3C881BCFD44900DE3163</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11CE3C921BCFD44900DE3163</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
